# simple answer:
1:linearRegression:Linear regression quantifies the relationship between one or more predictor variables and one outcome variable. 
For example, linear regression can be used to quantify the relative impacts of age, gender, and diet (the predictor variables) on height (the outcome variable).

2:logisticRegression:
Logistic regression models the probability of the default class (e.g. the first class)

3;This problem satisfying LogisticRegression algorthm becuse this is classfifcations probelm

# Import necessary libraries files

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np

# DATA LOADING

In [183]:
excel_file = 'mavoix_ml_sample_dataset.xlsx'
df= pd.read_excel(excel_file)
df.head()

,Application_ID,Current City,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),...,Node.js (out of 3),ReactJS (out of 3),Other skills,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
0,ML0001,Bangalore,0,2,0,2,0,2,3,2,...,0,0,R Programming,Bachelor of Science (B.Sc),Mathematics,2017,NaN,NaN,NaN,NaN
1,ML0002,Bangalore,2,0,0,2,2,2,2,2,...,0,0,"Data Science, Machine Learning, Neural Network...",Bachelor of Technology (B.Tech),Computer Science & Engineering,2019,NaN,85.50/100,92.20/92.20,96.60/96.60
2,ML0003,Bangalore,3,0,1,2,2,2,0,2,...,0,0,"Algorithms, Data Structures, Python, C Program...",Master of Science (M.Sc),Computer Science,2018,7.91/10,70.00/100,64.83/64.83,77.60/77.60
3,ML0004,Bangalore,2,0,2,1,0,2,0,0,...,0,0,"CSS, Deep Learning, Embedded Systems, HTML, Ma...",Bachelor of Engineering (B.E),Electronics and Communication,2019,NaN,6.86/10,76.00/76.00,84.32/84.32
4,ML0005,Bangalore,2,0,0,2,0,2,1,1,...,2,2,"HTML, OpenCV, Python, SQL, C++ Programming, CS...",Bachelor of Technology (B.Tech),Production Engineering,2018,NaN,6.38/10,65.20/65.20,68.80/68.80

In [184]:
df.shape

(392, 24)

In [185]:
df.describe()

,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),Unnamed: 10,AJAX (out of 3),Bootstrap (out of 3),MongoDB (out of 3),Node.js (out of 3),ReactJS (out of 3),Current Year Of Graduation
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,0.0,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,1.375000,0.566327,0.461735,0.612245,0.403061,1.346939,1.045918,0.770408,NaN,0.015306,0.265306,0.035714,0.086735,0.178571,2018.867347
std,0.975237,0.905052,0.842336,0.911789,0.837602,1.071386,1.022976,0.966626,NaN,0.122924,0.715928,0.255377,0.401567,0.499360,2.280296
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2004.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2018.750000
50%,2.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2019.000000
75%,2.000000,1.000000,1.000000,1.000000,0.000000,2.000000,2.000000,2.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,2020.000000
max,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,NaN,1.000000,3.000000,2.000000,2.000000,2.000000,2023.000000

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 24 columns):
Application_ID                392 non-null object
Current City                  392 non-null object
Python (out of 3)             392 non-null int64
R Programming (out of 3)      392 non-null int64
Deep Learning (out of 3)      392 non-null int64
PHP (out of 3)                392 non-null int64
MySQL (out of 3)              392 non-null int64
HTML (out of 3)               392 non-null int64
CSS (out of 3)                392 non-null int64
JavaScript (out of 3)         392 non-null int64
Unnamed: 10                   0 non-null float64
AJAX (out of 3)               392 non-null int64
Bootstrap (out of 3)          392 non-null int64
MongoDB (out of 3)            392 non-null int64
Node.js (out of 3)            392 non-null int64
ReactJS (out of 3)            392 non-null int64
Other skills                  378 non-null object
Degree                        380 non-null object
Stream                        374 non-null object
Current Year Of Graduation    392 non-null int64
Performance_PG                103 non-null object
Performance_UG                338 non-null object
Performance_12                229 non-null object
Performance_10                215 non-null object
dtypes: float64(1), int64(14), object(9)
memory usage: 73.6+ KB

In [187]:
#Features columns 
df.columns

Index(['Application_ID', 'Current City', 'Python (out of 3)',
       'R Programming (out of 3)', 'Deep Learning (out of 3)',
       'PHP (out of 3)', 'MySQL (out of 3)', 'HTML (out of 3)',
       'CSS (out of 3)', 'JavaScript (out of 3)', 'Unnamed: 10',
       'AJAX (out of 3)', 'Bootstrap (out of 3)', 'MongoDB (out of 3)',
       'Node.js (out of 3)', 'ReactJS (out of 3)', 'Other skills', 'Degree',
       'Stream', 'Current Year Of Graduation', 'Performance_PG',
       'Performance_UG', 'Performance_12', 'Performance_10'],
      dtype='object')

In [188]:
df1=df.drop(['Application_ID','Current City','Unnamed: 10','Other skills','Degree','Stream','Performance_PG','Performance_UG','Performance_12','Performance_10','Current Year Of Graduation'],axis=1)
df1.head()

,Python (out of 3),R Programming (out of 3),Deep Learning (out of 3),PHP (out of 3),MySQL (out of 3),HTML (out of 3),CSS (out of 3),JavaScript (out of 3),AJAX (out of 3),Bootstrap (out of 3),MongoDB (out of 3),Node.js (out of 3),ReactJS (out of 3)
0,0,2,0,2,0,2,3,2,0,2,0,0,0
1,2,0,0,2,2,2,2,2,0,0,0,0,0
2,3,0,1,2,2,2,0,2,0,0,0,0,0
3,2,0,2,1,0,2,0,0,0,0,0,0,0
4,2,0,0,2,0,2,1,1,0,0,2,2,2

In [189]:
df1.isnull().count()

Python (out of 3)           392
R Programming (out of 3)    392
Deep Learning (out of 3)    392
PHP (out of 3)              392
MySQL (out of 3)            392
HTML (out of 3)             392
CSS (out of 3)              392
JavaScript (out of 3)       392
AJAX (out of 3)             392
Bootstrap (out of 3)        392
MongoDB (out of 3)          392
Node.js (out of 3)          392
ReactJS (out of 3)          392
dtype: int64

In [190]:
print(df1.isnull().sum())

Python (out of 3)           0
R Programming (out of 3)    0
Deep Learning (out of 3)    0
PHP (out of 3)              0
MySQL (out of 3)            0
HTML (out of 3)             0
CSS (out of 3)              0
JavaScript (out of 3)       0
AJAX (out of 3)             0
Bootstrap (out of 3)        0
MongoDB (out of 3)          0
Node.js (out of 3)          0
ReactJS (out of 3)          0
dtype: int64

In [191]:
df1.loc[0:375,['Python (out of 3)']].head()

   Python (out of 3)
0                  0
1                  2
2                  3
3                  2
4                  2

In [192]:
df1.columns

Index(['Python (out of 3)', 'R Programming (out of 3)',
       'Deep Learning (out of 3)', 'PHP (out of 3)', 'MySQL (out of 3)',
       'HTML (out of 3)', 'CSS (out of 3)', 'JavaScript (out of 3)',
       'AJAX (out of 3)', 'Bootstrap (out of 3)', 'MongoDB (out of 3)',
       'Node.js (out of 3)', 'ReactJS (out of 3)'],
      dtype='object')

In [193]:
x=df1.drop(['ReactJS (out of 3)'],axis=1)

In [226]:
x=df1.iloc[0:376,0:12]

In [230]:
x.shape

(375, 12)

In [231]:
#y=df1.iloc[0:376,['ReactJS (out of 3)']]

In [232]:
y.shape

(375,)

In [233]:
x.shape

(375, 12)

In [234]:
y.head()

0    2
1    0
2    0
3    0
4    0
Name: R Programming (out of 3), dtype: int64

In [235]:
y.shape

(375,)

In [236]:
x.shape

(375, 12)

In [237]:
x.shape

(375, 12)

In [238]:
y.shape

(375,)

In [239]:
from sklearn.model_selection import train_test_split

In [240]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [241]:
len(x_train)

300

In [242]:
len(x_test)

75

In [243]:
len(y_train)

300

In [244]:
len(y_test)

75

In [263]:
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)
reg.score(x_train,y_train)

1.0

In [265]:
y_predicted=model.predict(x_test)

In [267]:
# another way of getting score from precision & recall
from sklearn.metrics import classification_report
print(classification_report(y_predicted,y_test))

              precision    recall  f1-score   support

           0       1.00      0.96      0.98        55
           1       0.00      0.00      0.00         1
           2       0.94      0.79      0.86        19
           3       0.00      0.00      0.00         0

    accuracy                           0.91        75
   macro avg       0.48      0.44      0.46        75
weighted avg       0.97      0.91      0.94        75

E:\anacounda\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [264]:
model=LogisticRegression()
model.fit(x_train,y_train)
model.score(x_train,y_train)

E:\anacounda\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
E:\anacounda\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.9066666666666666

In [246]:
y_predicted=model.predict(x_test)

In [247]:
# another way of getting score from precision & recall
from sklearn.metrics import classification_report
print(classification_report(y_predicted,y_test))

              precision    recall  f1-score   support

           0       1.00      0.96      0.98        55
           1       0.00      0.00      0.00         1
           2       0.94      0.79      0.86        19
           3       0.00      0.00      0.00         0

    accuracy                           0.91        75
   macro avg       0.48      0.44      0.46        75
weighted avg       0.97      0.91      0.94        75

E:\anacounda\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [269]:
#This probelm I have taken two algorithm LinearRegression and LogisticRegression

In [271]:
#This problem statisfiy LogisticRegression algorthm becuse this is classfifcations probelm