In [28]:
import pandas as pd
from sklearn import linear_model
import matplotlib.pyplot as plt
import numpy as np

In [29]:
df1=pd.read_csv("test_csv.csv")
df1.head()

   id                 time
0  80  2019-03-19 00:13:20
1  81  2019-03-19 00:13:30
2  82  2019-03-19 00:13:40
3  83  2019-03-19 00:13:50
4  84  2019-03-19 00:14:00

In [30]:
df1.describe()

               id
count   40.000000
mean    99.500000
std     11.690452
min     80.000000
25%     89.750000
50%     99.500000
75%    109.250000
max    119.000000

In [31]:
df1.count()

id      40
time    40
dtype: int64

In [44]:
df1.time=pd.to_datetime(df1.time)
df1.head(3)

                 time
0 2019-03-19 00:13:20
1 2019-03-19 00:13:30
2 2019-03-19 00:13:40

In [45]:
df1['year']=df1.time.dt.year
df1['month']=df1.time.dt.month
df1['day']=df1.time.dt.day
df1['hour']=df1.time.dt.hour
df1['min']=df1.time.dt.minute
df1['second']=df1.time.dt.second

In [46]:
df1.dtypes

time      datetime64[ns]
year               int64
month              int64
day                int64
hour               int64
min                int64
second             int64
dtype: object

In [47]:
%matplotlib inline

In [48]:
df1=df.drop(['id'],axis=1)
df1.head()

                 time
0 2019-03-19 00:13:20
1 2019-03-19 00:13:30
2 2019-03-19 00:13:40
3 2019-03-19 00:13:50
4 2019-03-19 00:14:00

In [50]:
df1['year']=df1.time.dt.year
df1['month']=df1.time.dt.month
df1['day']=df1.time.dt.day
df1['hour']=df1.time.dt.hour
df1['min']=df1.time.dt.minute
df1['second']=df1.time.dt.second

In [78]:
df2=df1[['year','month','day','hour','min','second']].head()

In [79]:
df2.drop(['second'],axis=1)

   year  month  day  hour  min
0  2019      3   19     0   13
1  2019      3   19     0   13
2  2019      3   19     0   13
3  2019      3   19     0   13
4  2019      3   19     0   14

In [80]:
y=df1['second'].head()

In [82]:
y.head()

0    20
1    30
2    40
3    50
4     0
Name: second, dtype: int64

In [84]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [85]:
x_train.head()

   year  month  day  hour  min  second
2  2019      3   19     0   13      40
1  2019      3   19     0   13      30
3  2019      3   19     0   13      50

In [87]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [89]:
model.score(x_train,y_train)

1.0